
<div class="content">

我是一名个人执业的心理咨询师（心理动力学取向），正在接受<a href="http://ipi.org/" target="blank">国际心理治疗学院（IPI）</a>的专业训练。除此之外，我<a href="https://space.bilibili.com/320071357" target="blank">翻译</a>国外心理治疗相关视频，<a href="/writing/">记录</a>咨询过程之中的体会，搭建基于 <a href="https://tiddlywiki.com" target="blank">TiddlyWiki</a> 的心理咨询维基项目 <a href="https://psychowiki.github.io" target="blank">PsychoWiki</a>，发起<a href="https://mp.weixin.qq.com/s/khUpctSwoR_LYTJ7ET7yZA" target="blank">何苦开心</a>心理自助开放写作计划，也会不时<a href="https://live.bilibili.com/11172728" target="blank">直播</a>精神分析文献阅读过程，录制播客<a href="https://www.notion.so/hekukaixin/5ffaa329fbf64869ba4bdcd10fb8d516" target="blank">清醒梦</a>。如果需要，您可以查看我的<a href="/cv/">个人简历</a>，并且<a href="/contact/">预约咨询</a>。我强烈建议您在预约之前浏览持续更新的系列视频<a href="https://space.bilibili.com/320071357/channel/detail?cid=79697" target="blank">“致来访者”</a>以了解咨询过程。目前我会陆续开放数量有限的低费名额，也服务于<a href="https://mp.weixin.qq.com/s/H8_Q_Ag2OS-XhTuS4bAqAA" target="blank">菩提之友</a>公益咨询项目。

</div>

<hr />

<ul class="fa-ul main-list">
   <li class="main-list-item">
    <span class="fa iconfont icon-CN_bilibiliB main-list-item-icon"></span>
    <a href="https://space.bilibili.com/320071357">Bilibili</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-weibo main-list-item-icon"></span>
    <a href="https://weibo.com/7217850131/profile?topnav=1&wvr=6&is_all=1">微博</a>
  </li>
  <li class="main-list-item">
    <span class="fa iconfont icon-zhihu main-list-item-icon"></span>
    <a href="https://www.zhihu.com/people/azad-lusbaronian/activities">知乎</a>
  </li>
  <li class="main-list-item">
    <span class="fa iconfont icon-douban main-list-item-icon"></span>
    <a href="https://www.douban.com/people/141703826/">豆瓣</a>
  </li>

  <li class="main-list-item">
    <span class="fa fa-weixin main-list-item-icon"></span>
    <a href="https://mp.weixin.qq.com/s/khUpctSwoR_LYTJ7ET7yZA">微信公众号：何苦开心</a>
  </li>
</ul>
