
<div class="content">

我是一名个人执业的心理咨询师（心理动力学取向），正在接受<a href="https://chicagoanalysis.org/" target="blank">芝加哥精神分析学院</a>和<a href="http://ipi.org/" target="blank">国际心理治疗学院（IPI）</a>的专业训练。除此之外，我创立主张精神分析活用的<a href="https://www.notion.so/hekukaixin/d4c6c50307a8421dbd6a14e5b960f8ec">何苦开心</a>（公众号同名），<a href="https://space.bilibili.com/320071357" target="blank">翻译</a>国外心理治疗相关视频，发起低价、可靠的动力取向新手咨询师黄页<a href="https://www.notion.so/hekukaixin/78504ec96547478fb1907ca40027dcc0" target="blank">开始咨询</a>，录制播客<a href="https://www.notion.so/hekukaixin/5ffaa329fbf64869ba4bdcd10fb8d516" target="blank">清醒梦</a>。如果需要，您可以查看我的<a href="/cv/">个人简历</a>，通过网站<a href="/contact/">预约咨询</a>，或者直接填写<a href="https://wj.qq.com/s2/4647086/0a44" target="blank">预约表单</a>。</div>

<hr />

<ul class="fa-ul main-list">
    <li class="main-list-item">
    <span class="icofont-heart-beat-alt main-list-item-icon"></span>
    <a href="https://www.notion.so/hekukaixin/d4c6c50307a8421dbd6a14e5b960f8ec">Notion 备份：何苦开心</a>
  </li>
     <li class="main-list-item">
    <span class="fa fa-weixin main-list-item-icon"></span>
    <a href="https://mp.weixin.qq.com/s/T7Lf7oLdKqaOFHBVthcv4A">微信公众号：何苦开心</a>
  </li>
       <li class="main-list-item">
    <span class="icofont-hill-night main-list-item-icon"></span>
    <a href="https://www.notion.so/hekukaixin/5ffaa329fbf64869ba4bdcd10fb8d516">播客：清醒梦</a>
  </li>
        <li class="main-list-item">
    <span class="icofont-doctor main-list-item-icon"></span>
    <a href="https://www.notion.so/hekukaixin/78504ec96547478fb1907ca40027dcc0">新手咨询师黄页：开始咨询</a>
  </li>
           <li class="main-list-item">
    <span class="fa fa-weixin main-list-item-icon"></span>
    <a href="https://mp.weixin.qq.com/s/aNETdx0r_mwm9DWSDfGMwA">微信公众号：开始咨询</a>
  </li>
   <li class="main-list-item">
    <span class="fa iconfont icon-CN_bilibiliB main-list-item-icon"></span>
    <a href="https://space.bilibili.com/320071357">Bilibili</a>
  </li>
  <li class="main-list-item">
    <span class="fa iconfont icon-zhihu main-list-item-icon"></span>
    <a href="https://www.zhihu.com/people/azad-lusbaronian/activities">知乎</a>
  </li>



</ul>
