<h2>系统受训</h2>

<table width= 90%>
  <tr>
    <td>2019 - 2021</td>
    <th align="right">国际心理治疗学院</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">心理动力学项目</td>
  </tr>
   <tr>
    <td>2019 - 2021</td>
    <th align="right">菩提之友</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">佛教心理学项目</td>
  </tr>
     <tr>
    <td>2019 - 2020</td>
    <th align="right">简单心理</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">心理咨询基础项目</td>
  </tr>
     <tr>
    <td>2019 - 2020</td>
    <th align="right">简单心理</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">家庭治疗系统课程</td>
  </tr>
     <tr>
    <td>2008 - 2010</td>
    <th align="right">北京师范大学</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">心理学（辅修）</td>
  </tr>
</table>

<hr />
<h2>个人分析</h2>

<table width= 90%>
   <tr>
    <td>2019 - 至今</td>
    <th align="right">精神分析</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">英国分析师，3 次 / 周</td>
  </tr>
  <tr>
    <td>2016 - 2019</td>
    <th align="right">心理动力学</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">中国分析师，1 次 / 周</td>
  </tr>
  <tr>
    <td>2019 - 2020</td>
    <th align="right">人际关系团体</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">1 次 / 周</td>
  </tr>
</table>
<hr />
<h2>个案督导</h2>

<table width= 90%>
   <tr>
    <td>2019 - 至今</td>
    <th align="right">团体督导</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">美国分析师，1 次 / 周</td>
  </tr>
  <tr>
    <td>2019 - 至今</td>
    <th align="right">个人督导</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">芝加哥分析师候选人，1 次 / 周</td>
  </tr>
</table>
<hr />

<h2>短程培训</h2>

<table width=90%>
   <tr>
    <td>2019 - 2020</td>
    <th align="right">和光慧心</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">精神分析中的过程干预（10 周）</td>
  </tr>
</table>
