<table width= 95%>

     
     <tr>
    <td style = "width:65%" valign="top"><q>Jo has a very good way of working with the patients. They are lucky to have Jo to be the therapist.</q></td>
    <th style = "width:25%" valign="top" align="right">Thomas Byrne 芝加哥精神分析学院 分析师</th>
  </tr>
      <tr>
    <td style = "width:65%" valign="top"><q>乔晓萌与来访者的工作方式很棒，来访者有这样的咨询师是一件幸运的事。</q></td>
    <td style = "width:25%" valign="top" align="right"></td>
  </tr>
         <tr>
    <td style = "width:65%" valign="top"><q>Qiao Xiaomeng has the capacity to notice and explore her own countertransference and then attempt to use it appropriately to further understand the patient....she is in intensive psychotherapy herself and is not afraid of moving deeper with her patient.</q></td>
    <th style = "width:25%" valign="top" align="right">Sue Cebulko 国际心理治疗学院 国际精神分析项目主席</th>
  </tr>
      <tr>
    <td style = "width:65%" valign="top"><q>乔晓萌能够留意，并且探索自己的反移情，试着以之进一步理解来访者。……她正在接受高频分析，并不惧怕与来访者走到更深的地方。</q></td>
    <td style = "width:25%" valign="top" align="right"></td>
  </tr>
</table>
<h2>系统受训</h2>

<table width= 95%>
    <tr>
    <td>2020 - 2021</td>
    <th align="right">芝加哥精神分析学院</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">基础项目</td>
  </tr>
  <tr>
    <td>2019 - 2021</td>
    <th align="right">国际心理治疗学院</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">心理动力学项目</td>
  </tr>
     <tr>
    <td>2008 - 2010</td>
    <th align="right">北京师范大学</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">心理学（辅修）</td>
  </tr>
</table>

<hr />
<h2>个人分析</h2>

<table width= 95%>
   <tr>
    <td>2019 - 至今</td>
    <th align="right">精神分析</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">英国分析师，4 次 / 周</td>
  </tr>
  <tr>
    <td>2016 - 2019</td>
    <th align="right">心理动力学</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">中国心理动力学咨询师，1 次 / 周</td>
  </tr>
  <tr>
    <td>2019 - 2020</td>
    <th align="right">人际关系团体</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">1 次 / 周</td>
  </tr>
</table>
<hr />
<h2>个案督导</h2>

<table width= 95%>
  <tr>
    <td>2019 - 2020</td>
    <th align="right">个别督导</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">费城心理治疗中心分析师，1 次 / 周</td>
  </tr>
  <tr>
    <td>2019 - 至今</td>
    <th align="right">个别督导</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">芝加哥精神分析学院分析师候选人，1 次 / 周</td>
  </tr>
    
  <tr>
    <td>2020 - 至今</td>
    <th align="right">个别督导</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">芝加哥精神分析学院分析师，1 次 / 周</td>
  </tr>
   <tr>
    <td>2019 - 至今</td>
    <th align="right">团体督导</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">国际心理治疗学院导师团，1 次 / 周</td>
  </tr>
       <tr>
    <td>2020 - 至今</td>
    <th align="right">团体督导</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">芝加哥精神分析学院导师团，1 次 / 周</td>
  </tr>
</table>
<hr />

<h2>短程培训</h2>

<table width=95%>
   <tr>
    <td>2019 - 2020</td>
    <th align="right">和光临床心理研究院</th>
  </tr>
  <tr>
    <td></td>
    <td align="right">精神分析中的过程干预（10 周）</td>
  </tr>
</table>
